<div class="container">
  <ngb-tabset>
    <ngb-tab>
       <ng-template ngbTabTitle>
         <a (click)="List()">Bookings</a>
      </ng-template>
      <ng-template ngbTabContent>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
       <ng-template ngbTabTitle>
         <a (click)="Edit()">Edit</a>
      </ng-template>
      <ng-template ngbTabContent>
      </ng-template>
    </ngb-tab>


    <ngb-tab *ngIf="!securityService.IsAuthorized()" >
      <ng-template ngbTabTitle>
          <div (click)="Login()">Login</div>
      </ng-template>
    </ngb-tab>
    <ngb-tab *ngIf="securityService.IsAuthorized()" >
      <ng-template ngbTabTitle>
          <div (click)="Login()">Logout</div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>

  <router-outlet></router-outlet>
</div>
